body {
  background-attachment: fixed;
  background-image: url("background.avif");
  background-repeat: no-repeat;
  background-size: cover;
  padding:0;
  margin:0;
  font-family: sans-serif;
}
.owned-or-not-tabs ul {
  margin: 0;
}
table {
  margin:0 auto;
  background-color: white;
  border-collapse: collapse;
  border-radius:5px;
  width:100%;
}
@media (min-width: 500px) and (max-width: 1500px) {
  body {
    background-size: 1500px;
  }
}
@media (max-width: 1024px) {
  th:nth-child(n+2):nth-child(-n+8),
  td:nth-child(n+2):nth-child(-n+8)
  {
    display:none;
  }
}
thead {
  border-bottom: solid 2px black;
}
thead th {
  padding:5px;
}
.column-header {
  text-align: left;
}
tbody tr {
  height:5em;
}
tbody tr:nth-child(2n+1) {
  background-color: #eee;
}
tbody td {
  padding: 10px;
}
.clickable {
  text-decoration: underline;
  color: darkblue;
}
h1 {
  font-family: Z003, cursive;
  font-size: 50px;
  font-weight:normal;
  overflow:visible;
  margin: 0 auto;
  padding: 10px 10px 0;
}
.clear-button {
  font-family: sans-serif;
  color:grey;
  position:relative;
  display:inline-block;
  width:0;
  left:-1em;
  user-select: none;
}
