body {
  background-attachment: fixed;
  background-image: url("background.avif");
  background-repeat: no-repeat;
  background-size: cover;
  padding:0;
  margin:0;
}
table {
  margin: 3em;
  width: calc(100% - 6em);
  background-color: rgba(255, 255, 255, 0.9);
  border-collapse: collapse;
  border-radius:5px;
}
thead th {
  padding:5px;
}
tbody tr {
  height:5em;
}
tbody td {
  padding: 10px;
  border-top: solid 1px gray;
}
.clickable {
  text-decoration: underline;
  color: darkblue;
}
h1 {
  text-align: center;
  font-family: cursive;
  font-size: 70px;
  color: white;
  padding-top:10px;
  margin: 0;
  background-color: black;
}
.clearButton {
  font-family: sans-serif;
  color:grey;
  position:relative;
  display:inline-block;
  width:0;
  left:-1em;
  user-select: none;
}
